.container {
    width: 95%;
    height: 60vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.image {
    display: none;
}
#prev {
    position: absolute;
    color: #fff;
    background-color: #000;
    top: 43%;
    left: 0;
    cursor: pointer;
    padding: 16px;
    font-weight: 700;
    font-size: 1rem;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
#next {
    position: absolute;
    color: #fff;
    background-color: #000;
    top: 43%;
    right: 0;
    cursor: pointer;
    padding: 16px;
    font-weight: 700;
    font-size: 1rem;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
#prev:hover, #next:hover {
    background-color: rgba(0, 0, 0, .5);
}
.fade {
    animation: fage 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}